@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* font-family: 'Poppins', sans-serif; */
body {
    font-family: 'Poppins', sans-serif;
}

.page-margin {
    width: 1250px;
    border: 2px solid rgba(112, 128, 144, 0.05);
    margin-bottom: 20px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    display: flex;
}

.menu-list {
    display: flex;
}

#search-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#cart-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.menu-list>li {
    list-style: none;
}

.menu-list>li>a {
    text-decoration: none;
    margin: 10px;
    color: black;
}


/* main contents css  */
/* main contents css  */
/* main contents css  */
/* main contents css  */
.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article-section {
    display: flex;
}

.article-details.right {
    margin-left: 50px;
}

.action-button {
    padding: 8px 15px;
    text-decoration: none;
    background-color: orangered;
    color: white;
    border-radius: 10px;
}

.fa-arrow-right {
    padding-left: 6px;
}

.article-image {
    width: 40%;
    height: 40%;
}

.partner-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* Product Category  */
/* Product Category  */
/* Product Category  */
.product-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
}

.product-title,
.produc-description,
.product-price {
    margin: 10px 0;
}


.product-image {
    width: 90%;
}

.fa-star {
    color: orange;
}

.fa-star.empty-star {
    color: rgb(202, 202, 202);
}