@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* font-family: 'Poppins', sans-serif; */
body {
    font-family: 'Poppins', sans-serif;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    display: flex;
}

.menu-list {
    display: flex;
}

.menu-list>li {
    list-style: none;
}

.menu-list>li>a {
    text-decoration: none;
    margin: 10px;
    color: black;
}


/* main contents css  */
/* main contents css  */
/* main contents css  */
/* main contents css  */
.induction-section {
    display: flex;
}
.pre-book{
  padding: 8px 15px;
  text-decoration: none;
  background-color: orangered;
  color: white;
  border-radius: 10px;
}
.fa-arrow-right{
  padding-left: 6px;
}
.article-image {
    width: 40%;
    height: 40%;
}

.partner-logo{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}