@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* font-family: 'Poppins', sans-serif; */
body {
    font-family: 'Poppins', sans-serif;
}

p {
    color: #3A3A3A;
}

span {
    color: #3A3A3A;
}

.page-margin {
    width: 1250px;
    margin-bottom: 100px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

.header-nav>.page-margin {
    margin-bottom: 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    display: flex;
}

.menu-list {
    display: flex;
}

#search-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#cart-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.menu-list>li {
    list-style: none;
}

.menu-list>li>a {
    text-decoration: none;
    margin: 20px;
    color: black;
}


/* main contents css  */
/* main contents css  */
/* main contents css  */
/* main contents css  */
.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article-section {
    display: flex;

}

.article-title {
    color: #3A3A3A;
    font-size: 4em;
}

.article-details.right {
    margin-left: 50px;
}

.action-button {
    padding: 8px 15px;
    text-decoration: none;
    background: #E02C6D;
    color: white;
    border-radius: 20px;
}

.fa-arrow-right {
    padding-left: 6px;
}

.article-image {
    width: 40%;
    height: 40%;
}

.partner-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* Product Category  */
/* Product Category  */
/* Product Category  */
.product-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-chapter {
    font-size: 2em;
}

.product-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
}

.Product {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.product-title,
.produc-description,
.product-price {
    margin: 10px 0;
}


.product-image {
    width: 100%;
}

.fa-star {
    color: orange;
}

.fa-star.empty-star {
    color: rgb(202, 202, 202);
}

.article-title.featured {
    color: #0A0826;
    font-size: 2em;
}

/* footer styele here  */
/* footer styele here  */
/* footer styele here  */
.footer-element {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-color: #0A0826;
    padding: 50px 0;
}

.footer-title {
    margin: 10px;
}

.white-color {
    color: white;
}

.footer-icon .fa {
    padding: 0 10px;
    font-size: 2em;
}